@page "/ListarVehiculo/{Id:int?}"

@inject ListarVehiculosUseCase ListarVehiculosUseCase;
@inject EliminarVehiculoUseCase EliminarVehiculoUseCase;
@inject ObtenerTitularUseCase ObtenerTitularUseCase;
@inject ListarVehiculosCondUseCase ListarVehiculosCondUseCase;
@inject NavigationManager Navegador; 

<DialogoConfirmacion @ref="mensaje" OnConfirmado="EliminarVehiculo"/>
<title> LISTAR VEHICULO </title>

@if(! _esTitular )
{
    <h1>LISTA DE VEHICULOS</h1>
}else{
    <h1>LISTA DE VEHICULOS DEL TITULAR @Id </h1>
}

<table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>Dominio</th>
    <th>Marca</th>
    <th>Año Fabricacion</th>
    <th>Titular</th>
    <th>MODIFICAR-ELIMINAR</th>
    </tr>
    </thead>

    <tbody>
    @foreach(var vehiculo in _lista){
        <tr>
            <td>@vehiculo.ID</td>
            <td>@vehiculo.Dominio</td>
            <td>@vehiculo.Marca</td>
            <td>@vehiculo.AnoFabricacion.ToString("dd/MM/yyyy")</td>
            <td>@ObtenerTitularUseCase.Ejecutar(vehiculo.Titular)?.DNI</td>
            <td>
                <button class="btn btn-primary" @onclick ="() => ConfirmarModificarVehiculo(vehiculo.ID)">
                    <span class = "oi oi-pencil"></span>
                </button>
                <button class ="btn btn-danger" @onclick ="()=>ConfirmarEliminarVehiculo(vehiculo)"> 
                    <span class = "oi oi-delete"></span>
                </button>
            </td>
        </tr>
    } 
    </tbody>
    </table> 

@code{ 
    List<Vehiculo> _lista = new List<Vehiculo>();
    bool _esTitular =false;
    [Parameter] public int? Id {get; set; }


        protected override void OnParametersSet(){
            if( Id != null){ 
                Titular? titular = ObtenerTitularUseCase.Ejecutar(Id.Value);
                if(titular != null){
                    _esTitular = true;
                    _lista = ListarVehiculosCondUseCase.Ejecutar( v => v.Titular == Id.Value );
                }
            }
            else{
                _lista = ListarVehiculosUseCase.Ejecutar();
            }
        }

        Vehiculo? vehiAEliminar = null;
        DialogoConfirmacion mensaje = null!;
        private void ConfirmarEliminarVehiculo(Vehiculo vehi){
            vehiAEliminar = vehi;
            mensaje.Mensaje = $"¿Esta seguro que quiere eliminar el vehiculo {vehi.Marca} del Titular {vehi.Titular}?";
            _lista = ListarVehiculosUseCase.Ejecutar();
        }

        private void EliminarVehiculo(){
            if( vehiAEliminar != null){
                EliminarVehiculoUseCase.Ejecutar(vehiAEliminar.ID);
                _lista = ListarVehiculosUseCase.Ejecutar();
            }
        }

        private void ConfirmarModificarVehiculo(int id){
            Navegador.NavigateTo("/Vehiculo/" + id);
        }


}