@page "/ListarPoliza"

@inject ListarPolizasUseCase ListarPolizasUseCase
@inject EliminarPolizaUseCase EliminarPolizaUseCase
@inject NavigationManager Navegador;


<DialogoConfirmacion @ref="mensaje" OnConfirmado="EliminarPoliza"/>
<title> LISTAR POLIZAS </title>
<h3> <center> <b>LISTA DE POLIZAS</b> </center> </h3>


<table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>ID VEHICULO</th>
    <th>VALOR ASEGURADO DEL VEHICULO</th>
    <th>FRANQUICIA</th>
    <th>COBERTURA</th>
    <th>FECHA VIGENCIA</th>Poliz
    <th>FECHA VENCIMIENTO</th>
    <th>MODIFICAR-ELIMINAR</th>
    </tr>
    </thead>
    <table border/>
    <tbody>

    @foreach (var poliza in _lista)
    {
    <tr>
        <td>@poliza.ID</td>
        <td>@poliza.VehiculoAsegurado</td>
        <td>@poliza.ValorAsegurado</td>
        <td>@poliza.Franquicia</td>
        <td>@poliza.Cobertura</td>
        <td>@poliza.VigenteDesde</td>
        <td>@poliza.VigenteHasta</td>
        <td>
            <button class="btn btn-primary" @onclick ="()=> ConfimarModificarPoliza(poliza.ID)">
                <span class = "oi oi-pencil"></span>
            </button>
            <button class ="btn btn-danger" @onclick="()=>ConfirmarEliminarPoliza(poliza)"> 
                <span class = "oi oi-delete"></span>
            </button>
        </td>
    </tr>
    }

</tbody>
</table>

@code{
    List<Poliza> _lista = new List<Poliza>();
        protected override void OnInitialized()
        {
            _lista = ListarPolizasUseCase.Ejecutar(); 
        }


        Poliza? polizaAEliminar = null;
        DialogoConfirmacion mensaje = null!;
        private void ConfirmarEliminarPoliza(Poliza poliza){
            polizaAEliminar = poliza;
            mensaje.Mensaje = $"¿Esta seguro que quiere eliminar a la poliza del vehiculo {poliza.VehiculoAsegurado}?";
            mensaje.Mostrar();
        }

        private void EliminarPoliza(){
            if( polizaAEliminar != null){
                EliminarPolizaUseCase.Ejecutar(polizaAEliminar.ID);
                _lista = ListarPolizasUseCase.Ejecutar();
            }
        }

        private void ConfimarModificarPoliza(int id){
            Navegador.NavigateTo("/Poliza/" +id);


        }
}   
