@page "/ListarTitular"
@inject ListarTitularesUseCase ListarTitularUseCase;
@inject EliminarTitularUseCase EliminarTitularUseCase;
@inject NavigationManager Navegador;
<DialogoConfirmacion @ref="mensaje" OnConfirmado="EliminarTitular"/>
<title> LISTAR TITULARES </title>
<h3> <center> <b>LISTA DE TITULARES</b> </center> </h3>

<table class="table">
    <thead>
    <tr>
    <th>DNI</th>
    <th>Apellido</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>MODIFICAR-ELIMINAR-LISTAR VEHICULOS</th>
    </tr>
    </thead>

    <tbody>
    @foreach(var titular in _lista){
        <tr>
            <td>@titular.DNI</td>
            <td>@titular.Apellido</td>
            <td>@titular.Nombre</td>
            <td>@titular.Direccion</td>
            <td>@titular.Telefono</td>
            <td>@titular.Email</td>
            <td>
                <button class="btn btn-primary" @onclick="() => ConfirmarModificarTitular(titular.ID)">
                    <span class="oi oi-pencil"></span>
                </button>
                <button class="btn btn-danger" @onclick="()=>ConfirmarEliminarTitular(titular)">
                    <span class="oi oi-delete"></span>
                </button>
                <button class="btn btn-secondary" @onclick="()=> ListarVehiculosDeXTit(titular.ID)">
                    <span class="oi oi-list"></span>
                </button>
            </td>
        </tr>
    }

    </tbody>
    </table>

@code{ 
    List<Titular> _lista = new List<Titular>();
        protected override void OnInitialized(){
            _lista = ListarTitularUseCase.Ejecutar();
        }

        Titular? titularAEliminar = null;
        DialogoConfirmacion mensaje = null!;
        private void ConfirmarEliminarTitular(Titular titular){
            titularAEliminar = titular;
            mensaje.Mensaje = $"¿Esta seguro que quiere eliminar el titular {titular.Nombre} {titular.Apellido}?";
            mensaje.Mostrar();
        }

        private void EliminarTitular(){
            if( titularAEliminar != null){
                EliminarTitularUseCase.Ejecutar(titularAEliminar.ID);
                _lista = ListarTitularUseCase.Ejecutar();
            }
        }

        private void ConfirmarModificarTitular(int id){
            Navegador.NavigateTo("/Titular/" + id);
        }

        private void ListarVehiculosDeXTit(int id){
            Navegador.NavigateTo("/ListarVehiculo/" + id);
        }

}   