@page "/ListarVehiculo"

@inject ListarVehiculosUseCase ListarVehiculosUseCase


<title> LISTAR VEHICULO </title>
<h3> <center> <b>LISTA DE VEHICULO</b> </center> </h3>

<table class="table">
    <thead>
    <tr>
    <th>DNI</th>
    <th>Apellido</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Email</th>
    </tr>
    </thead>

    <tbody>
    @foreach(var vehiculo in _lista){
        <tr>
            <td>@vehiculo.ID</td>
            <td>@vehiculo.Dominio</td>
            <td>@vehiculo.Marca</td>
            <td>@vehiculo.AnoFabricacion</td>
            <td>@vehiculo.Titular</td>
        </tr>
    }
    </tbody>
    </table> 

@code{ 
    List<Vehiculo> _lista = new List<Vehiculo>();
        protected override void OnInitialized(){
            _lista = ListarVehiculosUseCase.Ejecutar();
        }
}