@page "/ListarTercero"

@inject ListarTercerosUseCase ListarTercerosUseCase;
@inject EliminarTerceroUseCase EliminarTerceroUseCase;
@inject NavigationManager Navegador;

<DialogoConfirmacion @ref="mensaje" OnConfirmado="eliminarTercero"/>
<title> LISTAR TERCERO </title>
<h3> <center> <b>LISTA DE TERCEROS</b> </center> </h3>

<table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>DNI</th>
    <th>APELLIDO</th>
    <th>NOMBRE</th>
    <th>ASEGURADORA</th>
    <th>SINIESTRO</th>
    <th>MODIFICAR-ELIMINAR</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var tercero in _lista)
    {
    <tr>
        <td>@tercero.ID</td>
        <td>@tercero.DNI</td>
        <td>@tercero.Apellido</td>
        <td>@tercero.Nombre</td>
        <td>@tercero.Aseguradora</td>
        <td>@tercero.Siniestro</td>
        <td>
            <button class="btn btn-primary" @onclick="() => ConfirmarModificarTercero(tercero.ID)">
                <span class="oi oi-pencil"></span>
            </button>
            <button class="btn btn-danger" @onclick="()=>ConfirmarEliminarTercero(tercero)">
                <span class="oi oi-delete"></span>
            </button>
        </td>
    </tr>
    }

</tbody>
</table>

@code{
    List<Tercero> _lista = new List<Tercero>();
        protected override void OnInitialized()
        {
            _lista = ListarTercerosUseCase.Ejecutar();
        }

        DialogoConfirmacion mensaje = null!;
        Tercero? terceroAEliminar = null; 

        private void ConfirmarEliminarTercero(Tercero tercero){
            terceroAEliminar = tercero;
            mensaje.Mensaje = $"¿Esta seguro que quiere eliminar el Tercero {tercero.Nombre} {tercero.Apellido} ?";
            mensaje.Mostrar();
        }

        private void eliminarTercero(){
            if( terceroAEliminar != null ){
                EliminarTerceroUseCase.Ejecutar(terceroAEliminar.ID);
                _lista = ListarTercerosUseCase.Ejecutar();
            }
        }

        private void ConfirmarModificarTercero(int id){
            Navegador.NavigateTo("/Tercero/" +id);
        }
}