@page "/ListarVehiculo"

@inject ListarVehiculosUseCase ListarVehiculosUseCase
@inject EliminarVehiculoUseCase EliminarVehiculoUseCase
@inject NavigationManager Navegador; 

<DialogoConfirmacion @ref="mensaje" OnConfirmado="EliminarVehiculo"/>
<title> LISTAR VEHICULO </title>
<h3> <center> <b>LISTA DE VEHICULO</b> </center> </h3>

<table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>Dominio</th>
    <th>Marca</th>
    <th>Año Fabricacion</th>
    <th>Titular</th>
    <th>MODIFICAR-ELIMINAR</th>
    </tr>
    </thead>

    <tbody>
    @foreach(var vehiculo in _lista){
        <tr>
            <td>@vehiculo.ID</td>
            <td>@vehiculo.Dominio</td>
            <td>@vehiculo.Marca</td>
            <td>@vehiculo.AnoFabricacion</td>
            <td>@vehiculo.Titular</td>
        </tr>
        <td>
            <button class="btn btn-primary" @onclick ="() => ConfirmarModificarVehiculo(vehiculo.ID)">
                <span class = "oi oi-pencil"></span>
            </button>
            <button class ="btn btn-danger" @onclick="()=>ConfirmarEliminarVehiculo(vehiculo)"> 
                <span class = "oi oi-delete"></span>
            </button>
        </td>
    } 
    </tbody>
    </table> 

@code{ 
    List<Vehiculo> _lista = new List<Vehiculo>();
        protected override void OnInitialized(){
            _lista = ListarVehiculosUseCase.Ejecutar();
        }

        Vehiculo? vehiAEliminar = null;
        DialogoConfirmacion mensaje = null!;
        private void ConfirmarEliminarVehiculo(Vehiculo vehi){
            vehiAEliminar = vehi;
            mensaje.Mensaje = $"¿Esta seguro que quiere eliminar el vehiculo {vehi.Marca} del Titular {vehi.Titular}?";
            _lista = ListarVehiculosUseCase.Ejecutar();
        }

        private void EliminarVehiculo(){
            if( vehiAEliminar != null){
                EliminarVehiculoUseCase.Ejecutar(vehiAEliminar.ID);
                _lista = ListarVehiculosUseCase.Ejecutar();
            }
        }

        private void ConfirmarModificarVehiculo(int id){
            Navegador.NavigateTo("/Vehiculo/" + id);
        }


}